<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>register</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="__body">
      <div class="container">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="row mt-5">
            <div class="col-12 text-center">
              <div class="h2 text-dark font-weight-bold">회원가입</div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  placeholder="아이디"
                  name="username"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  id="useremail"
                  placeholder="이메일"
                  name="useremail"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="비밀번호"
                  name="password"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  id="re-password"
                  placeholder="비밀번호 확인"
                  name="re-password"
                />
                <p class="text-danger ml-3">{{ error }}</p>
              </div>
              <button type="submit" class="btn btn-primary mt-4">가입</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
